#container {
    position: relative;
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial;
}

.code-like {
    font-family: 'Courier New', Courier, monospace;
}

.errors {
    background-color: #ffbebe;
    border: 1px solid #dc7575;
    padding: 10px;
}

.info {
    background-color: #bdecc7;
    border: 1px solid #47a047;
    padding: 10px;
}

.info span {
    font-weight: bold;
    color: green;
}

div.input-area {
    position: relative;
    min-height: 250px;
    width: 100%;
}

div.input-area textarea {
    width: 100%;
    min-height: 200px;
}

button {
    padding: 7px;
    display: block;
    background-color: #39adff;
    border: 1px solid #3f4b6b;
    margin: 10px auto;
}